#
# System configuration file for cloud-tools
#

#
# instances and tasks sections, are just placeholders. They are not used by the code.
#
:instances:
  - &medium !ruby/struct:Instance
    name: medium
    type: m1.medium
    price: .16
    
  - &mlarge !ruby/struct:Instance
    name: mlarge
    type: m1.large
    price: .32

  - &xlarge !ruby/struct:Instance
    name: xlarge
    type: m2.xlarge
    price: .5
    
:tasks:
  - &clang !ruby/struct:BuildTask
    name: clang
    args: --no-arch-all -m binary-only -m parallel -m clang -i clang
    
  - &gcc49 !ruby/struct:BuildTask
    name: gcc49
    args: --no-arch-all -m binary-only -m parallel -m gcc49-unstable -i gcc

  - &normal-binary !ruby/struct:BuildTask
    name: normal
    args: --no-arch-all -m binary-only -m parallel -i normal

#
# A set represent a collection of tasks and instances relationated
#
:sets:
  - !ruby/struct:BalancedSet
    name: fullrebuild
    
    midpoint: 1800
    
    uppertask: !ruby/struct:BuildTask
      name: medium
      nodes: !ruby/struct:Nodes
        instance: *mlarge
        count: 30 
      #args: -u 1800

    lowertask: !ruby/struct:BuildTask
      name: large
      nodes: !ruby/struct:Nodes
        instance: *xlarge
        count: 12 
      args: -m parallel #-l 1800 

  - !ruby/struct:MixedSet
    name: clang

    nodes: !ruby/struct:Nodes
      instance: *medium
      count: 60

    tasks:
      - *clang
      - *normal-binary 
        
  - !ruby/struct:BalancedSet
    name: clang-balanced
    
    midpoint: 1800

    uppertask: !ruby/struct:MixedSet
      name: medium
      
      nodes: !ruby/struct:Nodes
        instance: *medium
        count: 60

      tasks:
        - *clang
        - *normal-binary 
            
    lowertask: !ruby/struct:MixedSet
      name: large

      nodes: !ruby/struct:Nodes
        instance: *xlarge
        count: 10

      tasks:
        - *clang
        - *normal-binary

  - !ruby/struct:BalancedSet
    name: gcc-balanced
    
    midpoint: 1800

    uppertask: !ruby/struct:MixedSet
      name: medium
      
      nodes: !ruby/struct:Nodes
        instance: *medium
        count: 60

      tasks:
        - *gcc49
        - *normal-binary 
            
    lowertask: !ruby/struct:MixedSet
      name: large

      nodes: !ruby/struct:Nodes
        instance: *xlarge
        count: 10

      tasks:
        - *gcc49
        - *normal-binary
        
#
# Things like AMI's, ebs, snapshots... are region dependent
#
:regions:
  - &us-east !ruby/struct:Region
    name: us-east-1
    ami: ami-439df12a

  - &sa-east !ruby/struct:Region
    name: us-west-2
    ami: ami-e6a832d6

#
# We can have multiple credentials !
#
:credentials:
  # qa user - limited
  - &qa !ruby/struct:Credentials
    name: qa
    id: # go and get one !
    secret: # go and get one !

  # otheruser - admin
  - &david !ruby/struct:Credentials
    name: otheruser
    id: # go and get one !
    secret: # go and get one !

#
# Default settings to use if not overriden but commandline parameters
#
:defaults:
  :region: *sa-east
  :credentials: *qa
  :masternode: http://aws-logs.debian.net/
  :ssh-user: otheruser
