#
# System configuration file for cloud-tools
#

#
# instances and tasks sections, are just placeholders. They are not used by the code.
#
:instances:
  - &medium !ruby/struct:Instance
    name: medium
    type: m1.medium
    price: .16
    
  - &mlarge !ruby/struct:Instance
    name: mlarge
    type: m1.large
    price: .32

  - &xlarge !ruby/struct:Instance
    name: xlarge
    type: m2.xlarge
    price: .5
    
:tasks:
  - &clang !ruby/struct:BuildTask
    name: clang
    args: --no-arch-all -m binary-only -m parallel -m clang -i clang

  - &normal-binary !ruby/struct:BuildTask
    name: normal
    args: --no-arch-all -m binary-only -m parallel -i normal

  - &ref-binary !ruby/struct:BuildTask
    name: clang
    args: --no-arch-all -m binary-only -m parallel -i ref

  - &normal-all !ruby/struct:BuildTask
    name: normal-all
    args: -i normal

  - &ref-all !ruby/struct:BuildTask
    name: ref-all
    args: -i ref

#
# A set represent a collection of tasks and instances relationated
#
:sets:
  - !ruby/struct:BalancedSet
    name: fullrebuild
    
    midpoint: 1800
    
    uppertask: !ruby/struct:BuildTask
      name: medium
      nodes: !ruby/struct:Nodes
        instance: *mlarge
        count: 30
        slots: 6

    lowertask: !ruby/struct:BuildTask
      name: large
      nodes: !ruby/struct:Nodes
        instance: *xlarge
        count: 15
        slots: 3
      args: -m parallel

  - !ruby/struct:MixedSet
    name: clang

    nodes: !ruby/struct:Nodes
      instance: *medium
      count: 60
      slots: 3

    tasks:
      - *clang
      - *normal-binary 
        
  - !ruby/struct:BalancedSet
    name: clang-balanced
    
    midpoint: 1800

    uppertask: !ruby/struct:MixedSet
      name: medium
      
      nodes: !ruby/struct:Nodes
        instance: *mlarge
        count: 30
        slots: 6

      tasks:
        - *clang
        - *normal-binary 
            
    lowertask: !ruby/struct:MixedSet
      name: large

      nodes: !ruby/struct:Nodes
        instance: *xlarge
        count: 20
        slots: 3

      tasks:
        - *clang
        - *normal-binary

  - !ruby/struct:BalancedSet
    name: ref-balanced-binary
    
    midpoint: 1800

    uppertask: !ruby/struct:MixedSet
      name: medium
      
      nodes: !ruby/struct:Nodes
        instance: *mlarge
        count: 30
        slots: 6

      tasks:
        - *ref-binary
        - *normal-binary 
            
    lowertask: !ruby/struct:MixedSet
      name: large

      nodes: !ruby/struct:Nodes
        instance: *xlarge
        count: 20
        slots: 3

      tasks:
        - *ref-binary
        - *normal-binary

  - !ruby/struct:BalancedSet
    name: ref-balanced

    midpoint: 1800

    uppertask: !ruby/struct:MixedSet
      name: medium

      nodes: !ruby/struct:Nodes
        instance: *mlarge
        count: 1
        slots: 6

      tasks:
        - *ref-all
        - *normal-all

    lowertask: !ruby/struct:MixedSet
      name: large

      nodes: !ruby/struct:Nodes
        instance: *xlarge
        count: 1
        slots: 3

      tasks:
        - *ref-all
        - *normal-all

  - !ruby/struct:BalancedSet
    name: test

    midpoint: 1800

    uppertask: !ruby/struct:MixedSet
      name: medium

      nodes: !ruby/struct:Nodes
        instance: *mlarge
        count: 1
        slots: 6
#        securitygroups:
#          - instance-sg

      tasks:
        - *ref-all
        - *normal-all

    lowertask: !ruby/struct:MixedSet
      name: large

      nodes: !ruby/struct:Nodes
        instance: *xlarge
        count: 1
        slots: 3

      tasks:
        - *ref-all
        - *normal-all

#
# Things like AMI's, ebs, snapshots... are region dependent
#
:regions:
  - &us-east !ruby/struct:Region
    name: us-east-1
    ami: ami-439df12a

  - &sa-east !ruby/struct:Region
    name: us-west-2
    ami: ami-e6a832d6

#
# We can have multiple credentials !
#
:credentials:
  # qa user - limited
  - &qa !ruby/struct:Credentials
    name: qa
    id: # go and get one !
    secret: # go and get one !

  # otheruser - admin
  - &david !ruby/struct:Credentials
    name: otheruser
    id: # go and get one !
    secret: # go and get one !

#
# masternode related settings
#
:masternode:
  :host: aws-logs.debian.net
  :ssh-user: user
  :work-dir: /home/user/cloud-scripts
  :ruby-interpreter: ruby2.1

#
# Default settings to use if not overriden but commandline parameters
#
:defaults:
  :region: *sa-east
  :credentials: *qa
#  :securitygroups:
#    - default
#    - no-network-access
